.vs/
.vs/*.*
packages/
packages/*.*
PR2/release/
PR2/release/*.*
PR2/debug/
PR2/debug/*.*
PR2/x64/release/
PR2/x64/release/*.*
PR2/x64/debug/
PR2/x64/debug/*.*
release/
release/*.*
debug/
debug/*.*
x64/release/
x64/release/*.*
x64/debug/
x64/debug/*.*

blackbox.exe

blackbox.iobj

blackbox_debug.ilk

blackbox.ipdb

blackbox_debug.exe

scripts/__pycache__/

olddata/

scripts/urllib/__pycache__/

Lib/

blackbox_debug_x64.exe

blackbox_debug_x64.ilk

blackbox_x64.exe

blackbox_x64.iobj

blackbox_x64.ipdb

python3.dll

python38.dll

python39.dll

wiki/data/cache/

data/downloads/

server/deploy/currentVersion/test.zip

server/deploy/currentVersion/xargoon/scripts/.vscode/

data/__pycache__/

data/scripts/

data/toc.py

data/system.zip

data/xargoon.zip

alpha/data/__pycache__/

alpha/scripts/__pycache__/

alpha/scripts/__init__.py

alpha/scripts/games/

alpha/scripts/stress.py

data/

server/deploy/currentVersion/build.db

server/deploy/currentVersion/trickynoid/legacydata/

*.java
