.vs/
.vs/*.*
packages/
packages/*.*
PR2/release/
PR2/release/*.*
PR2/debug/
PR2/debug/*.*
PR2/x64/release/
PR2/x64/release/*.*
PR2/x64/debug/
PR2/x64/debug/*.*
release/
release/*.*
debug/
debug/*.*
x64/release/
x64/release/*.*
x64/debug/
x64/debug/*.*

blackbox.exe

blackbox.iobj

blackbox_debug.ilk

blackbox.ipdb

blackbox_debug.exe

scripts/__pycache__/
